.not-found-page {
  flex-grow: 1;
  padding: 30px var(--side-pad);
  text-align: center;
  line-height: 3em;

  &-title {
    color: var(--accent-main);
    font-weight: 800;
  }

  &-desc {
    font-weight: bold;
  }
}
