.flower-item {
  text-align: center;
  min-width: var(--item-image-size);
  width: calc(25% - var(--item-spacing));
  margin-right: var(--item-spacing);
  margin-top: var(--item-spacing);

  &-image {
    cursor: move;
    width: var(--item-image-size);
    margin-bottom: 20px;
  }

  &-name {
    font-weight: 600;
    margin-bottom: 4px;
  }

  &-price {
    font-weight: bold;
    color: var(--accent-main);
  }

  &-quantity {
    margin: {
      top: 15px;
      left: auto;
      right: auto;
    }

    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    cursor: pointer;
    display: block;
    padding: {
      top: 6px;
      right: 44px;
      bottom: 6px;
      left: 14px;
    }
    // 75.6px wide by 30px high
    background: {
      size: 16px auto;
      image: url('/assets/select-arrow@3x.png');
      repeat: no-repeat;
      position: 84% center;
      color: var(--plain-light);
    }
    border: 1px solid var(--accent-dark1);
    color: var(--plain-dark);
    font-weight: bold;
  }
}
