.flower-item {
  text-align: center;
  min-width: var(--item-image-size);
  width: calc(25% - var(--item-spacing));
  margin-right: var(--item-spacing);
  margin-top: var(--item-spacing);

  &-image {
    cursor: move;
    width: var(--item-image-size);
    margin-bottom: 20px;
  }

  &-name {
    font-weight: 600;
    margin-bottom: 4px;
  }

  &-price {
    font-weight: bold;
    color: var(--accent-main);
  }

  &-quantity {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    cursor: pointer;
    display: block;
    width: 75px;
    height: 30px;
    margin: 0px auto;
    margin-top: 15px;
    padding: 6px 11px;

    border: 1px solid var(--accent-dark1);
    background: {
      size: 16px auto;
      image: url('/assets/select-arrow@3x.png');
      repeat: no-repeat;
      position: 84% center;
      color: var(--plain-light);
    }
    color: var(--plain-dark);
    font-weight: bold;
    font-family: var(--font);
  }
}
