.flower-item {
  text-align: center;
  min-width: var(--item-image-size);
  width: calc(25% - var(--item-spacing));
  margin-right: var(--item-spacing);
  margin-top: var(--item-spacing);

  &-image {
    cursor: move;
    width: var(--item-image-size);
    margin-bottom: 20px;
  }

  &-name {
    font-weight: 600;
    margin-bottom: 4px;
  }

  &-price {
    font-weight: bold;
    color: var(--accent-main);
  }

  &-quantity {
    margin-top: 15px;
  }
}
