.flower-item {
  background-color: pink;
  text-align: center;
  padding: 4px;
  margin: 6px;

  &-image {
    cursor: move;
    width: 150px;
    margin-bottom: 20px;
  }

  &-name {
    font-weight: 600;
    margin-bottom: 4px;
  }

  &-price {
    font-weight: bold;
    color: var(--accent-main);
  }

  &-quantity {
    margin: 15px 0px;
  }
}
