.cart-block {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: 600;

  .cart-spacer {
    font-weight: normal;
    margin: 0px 7px;
  }

  .cart-icon {
    position: relative;
    height: 30px;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-out;

    &-img {
      height: 100%;
    }

    &-label {
      position: absolute;
      width: 80%;
      right: 0px;
      top: calc(50% - 8px);

      text-align: center;
      line-height: 12px;
      letter-spacing: -1px;
      color: var(--accent-dark1);
    }
  }
}
