.nav-bar {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100vw;
  padding: 8px var(--side-pad);
  background-color: var(--theme-color);
  color: var(--plain-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// a lot of this is only necessary because of IE's lack of support for custom properties
@media only screen and (max-width: 1024px) {
  .nav-bar {
    padding: 8px 60px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    padding: 8px 40px;
  }
}

@media only screen and (max-width: 425px) {
  .nav-bar {
    padding: 8px 20px;
  }
}
