.nav-links {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;

  .logo-link {
    height: 100%;
    display: inline-flex;

    .logo {
      height: 100%;
      margin-right: 5px;
    }
  }

  .burger-nav-icon {
    display: none;
    cursor: pointer;
    margin: 0px 6px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &.link-item {
      font-size: 16px;
      font-weight: 600;
      margin: 0px 15px;

      &.active {
        color: var(--accent-light1);
      }

      &:hover {
        border-bottom: 1px solid var(--accent-main);
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  .nav-links {
    .burger-nav-icon {
      display: block;
      background: none;
      border: none;
      outline: none;
      color: var(--plain-light);
      font-size: 44px;
    }

    .links-container {
      position: absolute;
      display: none;
      flex-direction: column;
      top: 100%;
      left: 60%;

      &.open {
        display: flex;
      }

      a {
        border: 1px solid var(--plain-light);
        background-color: var(--theme-color);
        padding: 10px;

        &:hover {
          text-decoration: underline;
          border-color: var(--accent-main);
        }
      }
    }
  }
}
