@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,800');

:root {
  --font: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;

  // colors
  --plain-light: #ffffff;
  --plain-dark: #4a4a4a;
  --plain-mid: #bdbdbd;

  --theme-color: #28425a;
  --accent-main: #d33169;

  --accent-dark1: #24435a;
  --accent-dark2: #ce1b69;
  --accent-light1: #36ebb9;
  --accent-light2: #6da50a;

  // measurements
  --side-pad: 80px;
  --header-height: 56px;
  --footer-height: 259px;

  // other size variables
  // (variables must be in :root to be polyfilled for IE compatibility)
  --item-image-size: 263px;
  --item-spacing: 30px;
}

// sadly the polyfill won't work with properties set via media query
// so a lot of this has to be duplicated in each sub-file so it will be supported by IE
@media only screen and (max-width: 1024px) {
  :root {
    --item-image-size: 200px;
    --side-pad: 60px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --item-image-size: 150px;
    --side-pad: 40px;
    --item-spacing: 20px;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --item-image-size: 100px;
    --side-pad: 20px;
    --item-spacing: 15px;
  }
}

/*
Nav bar height: 56px
Store body height: 578px
Footer height: 259px
----------
Total height = 893px
nav = ~ 6.27%
store = ~ 64.73%
footer = ~ 29%

Page width: 1300px

Side padding: 80px
*/
